---
import Breadcrumbs from "@/components/Breadcrumbs.astro";
import { humanize } from "@/lib/utils/textConverter";

const { title = "" }: { title?: string } = Astro.props;

// style={`background-image: url(${"/images/backgrounds/page-title.jpg"});`}
---


<section class="bg-cover1 bg-center1 bg-no-repeat1 overlay1 mt-3">
  <!--<div
    class="absolute inset-0 bg-gradient-to-l from-[#00000040] to-[#00000050] z-10 h-full w-full"
  >
  </div>-->
  <div class="container text-left relative z-20 mt-6">
    <div class="px-8-del section1">
      <h1 class="text-black h4" set:text={humanize(title)} />
      <Breadcrumbs className="mt-6" />
    </div>
  </div>
</section>